.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.brand div {
  flex: 1;
  max-width: 9.375rem;
  min-width: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
