.hero {
  display: flex;
}

.hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5rem;
}

.hero__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.hero__input input {
  flex: 2;
  width: 100%;
  min-height: 3.125rem;
  padding: 0 1rem;
  background: var(--color-footer);

  font-family: var(--font-family);
  font-size: var(--font-med);
  color: #fff;

  border-radius: 5px 0px 0px 5px;
  border: 2px solid var(--color-footer);
  outline: none;
}

.hero__input input::placeholder {
  color: #3d6184;
}

.hero__input button {
  flex: 1;
  border-radius: 0px 5px 5px 0px;
}

.hero__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.hero__people span {
  margin-left: 1rem;
  font-weight: 500;
  font-size: var(--font-sml);
  color: #ffffff;
}

.hero__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image img {
  width: 100%;
  max-height: 100%;
}

/* media queries */
@media screen and (max-width: 1050px) {
  .hero {
    flex-direction: column;
  }

  .hero__content {
    margin: 0 0 3rem;
  }
}
@media screen and (max-width: 650px) {
  .hero__people {
    flex-direction: column;
  }
  .hero__people span {
    text-align: center;
    margin-top: 0.6rem;
  }
}
