.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

/* mixed */
.navbar__links p,
.navbar__sign p,
.navbar__menu p {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

/* links */
.navbar__content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar__logo {
  margin-right: 2rem;
}
.navbar__logo img {
  width: 4.5rem;
  height: 1.3rem;
}
.navbar__links {
  display: flex;
  flex-direction: row;
}

/* sign */
.navbar__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__sign button {
  margin-left: 1rem;
}

/* menu */
.navbar__menu {
  display: none;
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar__menu-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  min-width: 210px;
  position: absolute;
  top: 2.5rem;
  right: 0;
  background: var(--color-footer);
  margin-top: 1rem;
  padding: 2rem;
  text-align: end;
  border-radius: 5px;
  box-shadow: 0 0 5 rdba(0, 0, 0, 0.2);
}
.navbar__menu-content p {
  margin: 1rem 0;
}

.navbar__menu-sign {
  display: none;
}

/* Media queries */
@media screen and (max-width: 1050px) {
  .navbar__links {
    display: none;
  }
  .navbar__menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }
  .navbar__sign {
    display: none;
  }
  .navbar__menu-content {
    top: 20px;
  }
  .navbar__menu-sign {
    display: block;
  }
}
